<header>

    <ul style="list-style: none; justify-content: flex-end; display: flex;">
        <% if(locals.user){ %>
            <li>
                <div>
                    <a href="/users/profile"><%= user.name %></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/users/sign-out">Sign Out</a>
                </div>
            </li>
        <% }else{ %>
            <% if(title == "Sign Up Page"){ %>
                <li>
                    <div>
                        <a href="/users/sign-in">Sign-in</a>
                    </div>
                </li>
            <% }else if(title == "Sign-in Page"){ %>
            
            <li>
                <div>
                    <a href="/users/sign-up">Sign-up</a>        
                </div>
            </li>
            <% }else{ %>
                <li>
                    <div>
                        <a href="/users/sign-in">Sign-in</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="/users/sign-up">Sign-up</a>        
                    </div>
                </li>
                <% } %>
        <% } %>
    </ul>
    

</header>