<link rel="stylesheet" href="/css/sign_up.css">
<form action="/users/create-session" method="post">
    <!-- <label for="Email">Enter email: </label> -->
    <input type="email" name="email" required placeholder="Email">
    <!-- <label for="Password">Enter Password: </label> -->
    <input type="password" name="password" required id="" placeholder="Password">
    <input type="button" value="Sign In">
</form>